<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>mypkg.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>mypkg.Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>redirectDispatch.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectedServlet</servlet-name>
        <servlet-class>redirectDispatch.RedirectedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>redirectDispatch.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveDispatchServlet</servlet-name>
        <servlet-class>redirectDispatch.ReceiveDispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfigDemo</servlet-name>
        <servlet-class>configAndContext.ServletConfigDemo</servlet-class>
        <init-param>
            <param-name>teacher-name</param-name>
            <param-value>Basheer Ahmad</param-value>
        </init-param>
        <init-param>
            <param-name>college</param-name>
            <param-value>Integral University</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletContextDemo1</servlet-name>
        <servlet-class>configAndContext.ServletContextDemo1</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Merchant of Venice</param-value>
        </init-param>
        <init-param>
            <param-name>author</param-name>
            <param-value>William Shakespeare</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletContextDemo2</servlet-name>
        <servlet-class>configAndContext.ServletContextDemo2</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>The Tempest</param-value>
        </init-param>
        <init-param>
            <param-name>author</param-name>
            <param-value>William Shakespeare</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Session1</servlet-name>
        <servlet-class>hiddenFormFields.Session1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session2</servlet-name>
        <servlet-class>hiddenFormFields.Session2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCk1</servlet-name>
        <servlet-class>usingCookies.ServCk1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCk2</servlet-name>
        <servlet-class>usingCookies.ServCk2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpSession1</servlet-name>
        <servlet-class>httpSessionObject.HttpSession1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpSession2</servlet-name>
        <servlet-class>httpSessionObject.HttpSession2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page1</servlet-name>
        <servlet-class>urlRewriting.Page1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page2</servlet-name>
        <servlet-class>urlRewriting.Page2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher1</servlet-name>
        <servlet-class>redirectDispatch.Dispatcher1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher2</servlet-name>
        <servlet-class>redirectDispatch.Dispatcher2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect1</servlet-name>
        <servlet-class>redirectDispatch.Redirect1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect2</servlet-name>
        <servlet-class>redirectDispatch.Redirect2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfigPrac</servlet-name>
        <servlet-class>configAndContext.ServletConfigPrac</servlet-class>
        <init-param>
            <param-name>FN</param-name>
            <param-value>Jack</param-value>
        </init-param>
        <init-param>
            <param-name>LN</param-name>
            <param-value>Ryan</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Cookie1</servlet-name>
        <servlet-class>usingCookies.Cookie1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookie2</servlet-name>
        <servlet-class>usingCookies.Cookie2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/rs1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectedServlet</servlet-name>
        <url-pattern>/rs2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/sd1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveDispatchServlet</servlet-name>
        <url-pattern>/sd2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfigDemo</servlet-name>
        <url-pattern>/sconfig</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>url</param-name>
        <param-value>www.facebook.com</param-value>
    </context-param>
    <context-param>
        <param-name>seo</param-name>
        <param-value>Google</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ServletContextDemo1</servlet-name>
        <url-pattern>/sctx1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContextDemo2</servlet-name>
        <url-pattern>/sctx2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session1</servlet-name>
        <url-pattern>/sess1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session2</servlet-name>
        <url-pattern>/sess2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCk1</servlet-name>
        <url-pattern>/ck1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCk2</servlet-name>
        <url-pattern>/ck2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpSession1</servlet-name>
        <url-pattern>/httpsess1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpSession2</servlet-name>
        <url-pattern>/httpsess2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page1</servlet-name>
        <url-pattern>/us1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page2</servlet-name>
        <url-pattern>/us2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher1</servlet-name>
        <url-pattern>/ds1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher2</servlet-name>
        <url-pattern>/ds2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect1</servlet-name>
        <url-pattern>/rd1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect2</servlet-name>
        <url-pattern>/rd2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfigPrac</servlet-name>
        <url-pattern>/sconfigprac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie1</servlet-name>
        <url-pattern>/cki1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie2</servlet-name>
        <url-pattern>/cki2</url-pattern>
    </servlet-mapping>
</web-app>
